$goldy: #f7bd16;
$charcoal: #252525;
$peach: #faba9f;
$seablue: #557dbf;
$pale: #eedccd;
$paler: #f9f0e8;

$beige: #e6dec9;
$mint: #e2efe1;
$darkermint: #d0e9db;
$scarlet: #ee3a23;
$skyblue: #78aaba;
$darkerskyblue: #5a96a3;
$cream: #fffbd3;
$palerose: #ebd7d9;
$gold: #e7bc1f;
$violet: rgba(79, 82, 132, .98);